
<footer>
    <div class="footer">
        <p>Made with <a href="https://openexchangerates.org/" target="blank">Open exchange rates Api</a>.</p>
        <p>© 2020 Happy Phiri Web Design</p>
    </div>
</footer>
</body>
</html>